html{
  overflow-y:scroll ;

}
body{
  overflow-y:scroll ;
  font-family:Arial, Helvetica, sans-serif
}
.root{
  overflow-y: scroll;
}
.text{
  font-size: 13px;
}
.text2{
  font-size: 13px;
  opacity: 0.6;
}
.card{
  border:solid 2px;
  border-color: #F2F2F7;
  border-radius: 25px !important;
}

.footer {
  border-top: solid 3px;
  border-top-color: red;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
