body{
  overflow:auto ;
}

.text{
  font-size: 10px;
}
.card{
  border:solid 2px;
  border-color: #F2F2F7;
  border-radius: 25px !important;
}

.footer {
  border-top: solid 3px;
  border-top-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

@media (min-width: 576px) {
  /* Küçük ekranlar için stilde değişiklik yapmak isteyebilirsiniz */
  .footer {
    position: static; /* Küçük ekranlarda sabit pozisyonu kaldır */
  }
}